<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body class="">
  <!-- Slider -->
  <div class="px-4 py-3 bg-gray-100 dark:bg-gray-900">
    <div class="flex items-center justify-center max-w-3xl mx-auto">
      <button
        class="hidden text-gray-700 swiper-prev-button hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300 sm:block sm:rounded sm:transition"
        aria-label="Previous slide">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 rtl:rotate-180" viewBox="0 0 20 20"
          fill="currentColor">
          <path fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd" />
        </svg>
      </button>

      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p class="text-sm font-medium text-center text-gray-900 dark:text-white">
              Wanna know more about my projects?
              <a href="#" class="block underline sm:inline-block"> Check out my portfolio </a>
            </p>
          </div>

          <div class="swiper-slide">
            <p class="text-sm font-medium text-center text-gray-900 dark:text-white">
              Love to build Simple Web App?
              <a href="#" class="block underline sm:inline-block"> Check out this posts </a>
            </p>
          </div>

          <div class="swiper-slide">
            <p class="text-sm font-medium text-center text-gray-900 dark:text-white">
              Love Python?
              <a href="#" class="block underline sm:inline-block"> Check out this new course! </a>
            </p>
          </div>
        </div>
      </div>

      <button
        class="hidden text-gray-700 swiper-next-button hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300 sm:block sm:rounded sm:transition"
        aria-label="Next slide">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 rtl:rotate-180" viewBox="0 0 20 20"
          fill="currentColor">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
  <!-- Header -->
  <header class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 lg:px-8">
      <div class="flex items-center sm:justify-between sm:gap-4">
        <div class="relative hidden sm:block">
          <label class="sr-only" for="search"> Search </label>

          <input
            class="w-full h-10 text-sm bg-white border-none rounded-lg shadow-sm pe-10 ps-4 sm:w-56"
            id="search" type="search" placeholder="Search website..." />

          <button type="button"
            class="absolute p-2 text-gray-600 transition -translate-y-1/2 rounded-md end-1 top-1/2 bg-gray-50 hover:text-gray-700">
            <span class="sr-only">Search</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </button>
        </div>

        <div class="flex items-center justify-between flex-1 gap-8 sm:justify-end">
          <div class="flex gap-4">
            <button type="button"
              class="block shrink-0 rounded-lg bg-white p-2.5 text-gray-600 shadow-sm hover:text-gray-700 sm:hidden">
              <span class="sr-only">Search</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </button>

            <a href="#"
              class="block shrink-0 rounded-lg bg-white p-2.5 text-gray-600 shadow-sm hover:text-gray-700">
              <span class="sr-only">Academy</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path d="M12 14l9-5-9-5-9 5 9 5z" />
                <path
                  d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
              </svg>
            </a>

            <a href="#"
              class="block shrink-0 rounded-lg bg-white p-2.5 text-gray-600 shadow-sm hover:text-gray-700">
              <span class="sr-only">Notifications</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </a>
          </div>

          <button type="button" class="flex items-center transition rounded-lg group shrink-0">
            <span class="sr-only">Menu</span>
            <img alt="Man"
              src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
              class="object-cover w-10 h-10 rounded-full" />

            <p class="hidden text-xs text-left ms-2 sm:block">
              <strong class="block font-medium">Eric Frusciante</strong>

              <span class="text-gray-500"> eric@frusciante.com </span>
            </p>

            <svg xmlns="http://www.w3.org/2000/svg"
              class="hidden w-5 h-5 text-gray-500 transition ms-4 group-hover:text-gray-700 sm:block"
              viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>

      <div class="mt-8">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Welcome Back, Barry!</h1>

        <p class="mt-1.5 text-sm text-gray-500">
          Your website has seen a 52% increase in traffic in the last month. Keep it up! 🚀
        </p>
      </div>
    </div>
  </header>

  <!-- Navigation -->
  <nav class="sticky float-left max-w-xs min-w-fit">
    <div class="flex flex-col justify-between h-screen bg-white border-e">
      <div class="px-4 py-6">
        <span
          class="grid w-32 h-10 text-xs text-gray-600 bg-gray-100 rounded-lg place-content-center">
          Welcome
        </span>

        <ul class="mt-6 space-y-1">
          <li>
            <a href=""
              class="block px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-lg">
              General
            </a>
          </li>

          <li>
            <details class="group [&_summary::-webkit-details-marker]:hidden">
              <summary
                class="flex items-center justify-between px-4 py-2 text-gray-500 rounded-lg cursor-pointer hover:bg-gray-100 hover:text-gray-700">
                <span class="text-sm font-medium"> Teams </span>

                <span class="transition duration-300 shrink-0 group-open:-rotate-180">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </summary>

              <ul class="px-4 mt-2 space-y-1">
                <li>
                  <a href=""
                    class="block px-4 py-2 text-sm font-medium text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700">
                    Banned Users
                  </a>
                </li>

                <li>
                  <a href=""
                    class="block px-4 py-2 text-sm font-medium text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700">
                    Calendar
                  </a>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <a href=""
              class="block px-4 py-2 text-sm font-medium text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700">
              Billing
            </a>
          </li>

          <li>
            <a href=""
              class="block px-4 py-2 text-sm font-medium text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700">
              Invoices
            </a>
          </li>

          <li>
            <details class="group [&_summary::-webkit-details-marker]:hidden">
              <summary
                class="flex items-center justify-between px-4 py-2 text-gray-500 rounded-lg cursor-pointer hover:bg-gray-100 hover:text-gray-700">
                <span class="text-sm font-medium"> Account </span>

                <span class="transition duration-300 shrink-0 group-open:-rotate-180">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </summary>

              <ul class="px-4 mt-2 space-y-1">
                <li>
                  <a href=""
                    class="block px-4 py-2 text-sm font-medium text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700">
                    Details
                  </a>
                </li>

                <li>
                  <a href=""
                    class="block px-4 py-2 text-sm font-medium text-gray-500 rounded-lg hover:bg-gray-100 hover:text-gray-700">
                    Security
                  </a>
                </li>

                <li>
                  <form action="/logout">
                    <button type="submit"
                      class="w-full rounded-lg px-4 py-2 text-sm font-medium text-gray-500 [text-align:_inherit] hover:bg-gray-100 hover:text-gray-700">
                      Logout
                    </button>
                  </form>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>

      <div class="sticky inset-x-0 bottom-0 border-t border-gray-100">
        <a href="#" class="flex items-center gap-2 p-4 bg-white hover:bg-gray-50">
          <img alt="Man"
            src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
            class="object-cover w-10 h-10 rounded-full" />

          <div>
            <p class="text-xs">
              <strong class="block font-medium">Eric Frusciante</strong>

              <span> eric@frusciante.com </span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </nav>

  <div class="grid w-10/12 grid-flow-row grid-cols-3 gap-4 mx-auto">
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
    <article class="overflow-hidden transition rounded-lg shadow hover:shadow-lg">
      <img alt="Office"
        src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="object-cover w-full h-56" />

      <div class="p-4 bg-white sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg text-gray-900">How to position your furniture for positivity
          </h3>
        </a>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
          pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
          quidem,
          mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius atque
          dignissimos. Molestias explicabo corporis voluptatem?
        </p>
      </div>
    </article>
  </div>
  <!-- Slider Script -->
  <script>
    new Swiper('.swiper', {
      effect: 'fade',
      loop: true,
      autoplay: {
        delay: 5000,
      },
      fadeEffect: {
        crossFade: true,
      },
      navigation: {
        prevEl: '.swiper-prev-button',
        nextEl: '.swiper-next-button',
      },
    })
  </script>
</body>

</html>